<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="box">
                LOGO HERE
            </div>
        </div>
        <div class="col-md-9">
            <div class="box">
                Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>Teste
                <br>
            </div>
        </div>
    </div>
</div>
