<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-body">
                    panel 1
                </div>
            </div>

        </div>

        <div class="col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">
                    Teste
                    <br>Teste 1
                    <br>Teste
                    <br>Teste
                    <br>Teste
                    <br>Teste
                    <br>Teste
                    <br>Teste
                    <br>Teste
                    <br>Teste
                    <br>Teste
                    <br>Teste
                    <br>
                </div>
            </div>

        </div>

    </div>
</div>
